


  .container-fluid{
    background-color: grey;
    margin-bottom: 0%;
  }
.allrepos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  hr{
    background-color: rgb(2, 19, 19);
    height: 1px;
  }
  .desc{
    min-height: 95px;
  }
  .top{
    font-weight: 550;
  }
  .btn-group{
    margin-left: 13px;
  }
  #visit a{
    text-decoration: none;
    color: rgb(241, 241, 63);
  }
  .repo{
    background-color:rgba(70, 76, 77, 0.705);
    color: black;
    margin-bottom: 2%;
    border-radius: 4px; 
  }
  .form-control::placeholder{
    color: white;
  }